{% extends 'index.html' %}

{% block 'content' %}
    <h1 dir="rtl" lang='AR' class="cover-heading">أعْـــربْ لـي.</h1>
            <p dir="rtl" lang='AR' class="lead">يُرْجَى تَشْكِيلُ الجُمْلَةِ.</p>
        
        <form name="myForm" method="POST" action="{% url 'process' %}" onsubmit="return validateForm()" required style="margin-bottom: auto; margin-top: auto;" id="sent_in">
            {% csrf_token %}
            <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="أعْربْ"></button>
                    </span>
                <input dir="rtl" lang='AR' type="text" class="form-control" name="sent_text" placeholder="هنا يتم إدخال الجملة المراد إعرابها...">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            </div>
            
        </form>
    
    {% block 'results' %}
    {% if proposition %}
    <div class="div_results h-75">
        <table id="results" class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center;">الإقتراح</th>
                    <th style="text-align: center;">الكلمة</th>
                    <th style="text-align: center;">إعرابها</th>
                    <th style="text-align: center;">إختيار</th>
                </tr>
            </thead>
            <tbody>
            {% for combination in accepted %}
                {% for irab in combination.proposition %}
                    <tr>
                        {% ifchanged %}<td rowspan={{ phrase|length }} style="text-align: center;">{{ forloop.parentloop.counter }}</td>{% endifchanged %}
                        <td style="text-align: center;">{{ irab.word }}</td>
                        <td style="text-align: right;">{{ irab.irab }}</td>
                        {% ifchanged %}
                            <td rowspan={{ phrase|length }} style="text-align: center;">
                                <a href="{% url 'validate' combination.trans|join:"," %}"><i style="color:green" class="fas fa-check-circle fa-2x"></i><a/>
                            </td>
                        {% endifchanged %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th style="text-align: center;">الإقتراح</th>
                    <th style="text-align: center;">الكلمة</th>
                    <th style="text-align: center;">إعرابها</th>
                    <th style="text-align: center;">إختيار</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <br><br>
    {% endif %}
    {% endblock %}
{% endblock %}
{% block 'js' %}
    <script>
        document.querySelector('#nav_home').classList += ' active'
        function validateForm() {
        var x = document.forms["myForm"]["sent_text"].value;
        if (x == "") {
            alert("يرجى إدخال جملة.");
            return false;
        }
        }
    </script>
{% endblock %}