{% extends 'index.html' %}

{% block 'content' %}
    <p dir="rtl" lang='AR'>
    <div>
    Decoupage : <br>
    {{out_dec}}<br>
    Recherche du schème : <br>
    {{out_sch}}<br>
    Recherche de la racine : <br>
    {{out_rcn}}<br>
    </div>
    لم يتمكَّن البرنامج من تحليل كلمة {{ missing_word }}<br>
    قد تم تسجيل الكلمة و سنحاول إيجاد حل للمشكل في أقرب وقت إن شاء الله.<br>
    نشكركم على تفهمكم وندعوكم لمواصلة إكتشاف البرنامج.<br>
    <a href="{% url 'home' %}">العودة للصفحة الرئيسية<a>
    </p>
{% endblock %}